/* SETUP */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    background-color: #1A1A1A;
}

h1 {
    font-family: 'Thunderstorm';
    font-size: 7rem;
    color: white;
    margin-block-start: 0.2em;
    margin-block-end: -0.20000000000000073em;
    user-select: none;
}

p {
    font-family: 'CenturyGothic';
    font-size: 1.5rem;
    color: white;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes fadeInMoveDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInMoveLeft {
    0% {
        transform: scale(1) rotate(-90deg) translate(0px, 112px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px) rotate(-90deg);
        opacity: 1;
    }
}

@keyframes fadeInMoveRight {
    0% {
        transform: scale(1) rotate(90deg) translate(0px, 112px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px) rotate(90deg);
        opacity: 1;
    }
}

@font-face {
    font-family: 'Thunderstorm';
    src: url('/assets/fonts/Thunderstorm-Update.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    }

@font-face {
    font-family: 'CenturyGothic';
    src: url('/assets/fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    .animate-in-0 {
        animation: fadeInMoveDown 0.5s ease forwards;
    }
    
    .animate-in-1 {
        animation: fadeInMoveDown 1s ease forwards;
    }
    
    .animate-in-1-5 {
        animation: fadeInMoveDown 1.5s ease forwards;
    }
    
    .animate-in-2 {
        animation: fadeInMoveDown 2s ease forwards;
    }

    @keyframes rotate-in-down-right-animation {
        0% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 0;
        }
    
        100% {
            transform: translate(0px, 0px) rotate(24.53deg);
            opacity: 1;
        }
    }

    @keyframes rotate-in-down-left-animation {

        0%,
        0.2% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 0;
        }
    
        100% {
            transform: scale(1) rotate(-24.53deg) translate(0px, 0px);
            opacity: 1;
        }
    }

    @keyframes float-animation {

        0%,
        100% {
            transform: none;
        }
    
        50% {
            transform: translate(0px, -16px);
        }
    }

    button {
        margin: -10px 0px;
    }

    .custom-btn {
        width: 100%;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'CenturyGothic', sans-serif;
        font-weight: bold;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
         box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
      }

    .btn-main {
        background: #0B0F09;
        border: none;
        z-index: 1;
    }
    .btn-main:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #e6c9fd;
        background-image: linear-gradient(315deg, #e6c9fd 0%, #f49cfc 74%);
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
        transition: all 0.3s ease;
    }
    .btn-main:hover {
        color: #000;
    }
    .btn-main:hover:after {
        top: auto;
        bottom: 0;
        height: 100%;
    }
    .btn-main:active {
        top: 2px;
    }

    .sticky {
        position: -webkit-sticky; /* For Safari */
        position: sticky;
        padding-top: 250px;
    }

    .relative {
        position: relative;
    }


/* CLASSES */

.logo {
    width: 300px;
    margin: 10px;
}

.social-media-icon {
    width: 40px;
    margin: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
    flex: 2;
    margin-right: 10px;
}

.top-bar {
    position: fixed;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #1a1a1a;
    width: 100%;
    z-index: 1010;
    transition: background-color 0.3s ease; /* Smooth transition for background-color */
}

.top-bar p {
    margin: 10px;
}

.backdrop {
    background-color: #1A1A1A;
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.backdrop2 {
    background-color: #1A1A1A;
    width: 100%;
    height: 4090px;
    display: block;
}

.backdrop3 {
    background-color: #1A1A1A;
    width: 100%;
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-container {
    width: 100%;
    height: 100%; /* Adjust height as needed */
    position: relative; /* Changed to relative */
    overflow: hidden;
    top: 200px;
}

.grid-container2 {
    width: 100%;
    height: 25%;
    position: relative; /* Changed to relative */
    overflow: hidden;
    top: -395px;
}

.grid {
    width: 5782px;
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid2 {
    width: 2890px; /* Width of the grid */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg) ; /* Centers the grid */
}


.palm {
    width: 500px;
    position: absolute;
}

.palm-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 50px;
}

.monstera-container {
    position: absolute;
    width: 100%;
    height: 870px;
    overflow: hidden;
}

.monstera {
    position: absolute;
    width: 635px;
    right: -33px;
    top: 195px;
}

#left-palm {
    left: -330px;
    top: 50px;
    transform-origin: 100% 100%;
    animation: rotate-in-down-right-animation 1s ease 0s 1 normal both running;
}

#right-palm {
    right: -330px;
    top: 50px;
    transform-origin: 0% 100%;
    animation: rotate-in-down-left-animation 1s ease 0s 1 normal both running;
}

.glowbox {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    opacity: 25%;
    background-color: rgba(86, 116, 202, 0.25); /* Adjust the rgba values for your color and opacity */
    box-shadow: 0 0 500px rgba(86, 116, 202, 0.25);
    filter: blur(50px); /* Adjust the blur radius as needed */
}

.glowbox2 {
    position: absolute;
    width: 90%;
    height: 4500px;
    display: flex;
    opacity: 25%;
    background-color: rgba(202, 86, 187, 0.25); /* Adjust the rgba values for your color and opacity */
    box-shadow: 0 0 500px rgba(202, 86, 187, 0.25);
    filter: blur(50px); /* Adjust the blur radius as needed */
    top: 3000px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-container {
    width: 491px;
    position: relative;
    margin: 30px;
}

.outer-container {
    display: flex;
    z-index: 101;
    top:  250px;
    justify-content: center;
    align-items: center;
}

.outer-container2 {
    display: flex;
    z-index: 101;
    top:  14px;
    justify-content: center;
    align-items: center;
}

.outer-container3 {
    display: flex;
    z-index: 101;
    top: 200px;
    justify-content: center;
    align-items: center;
}

.outer-container img {
    width: 276px;
    height: 276px;
    margin: 30px;
}

.outer-container2 img {
    width: 276px;
    height: 276px;
    margin: 30px;
}

.outer-container3 img {
    width: 276px;
    height: 276px;
    margin: 30px;
}

.footer {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #1A1A1A;
    position: absolute;
    width: 100%;
    z-index: 1002;
}

.footer p {
    margin: 20px;
}

/* Books Page */

.backdrop4 {
    background-color: #1A1A1A;
    width: 100%;
    height: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.matrix-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 1420px;
    top: 50px;
}

.matrix {
    width: 4400px;
    position: absolute;
}

#left-matrix {
    left: -1979px;
    top: 50px;
    animation: fadeInMoveRight 1s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal both running;
}

#right-matrix {
    right: -1979px;
    top: 50px;
    animation: fadeInMoveLeft 1s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal both running;
}

.bookshelf-container {
    width: 100%;
    height: 565px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -243px;
}

.bookshelf-container h1 {
    margin: 20px;
}

.book-box {
    display: flex;
}

.book-box img {
    width: 250px;
    height: auto;
    margin: 20px;
    z-index: 1002;
    transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.book-box img:hover {
    transform: scale(1.1); /* Slightly increase the size */
}

.book-box img.shrink {
    transform: scale(0.9); /* Shrink to 90% of the original size */
}

.doc-viewer {
    z-index: 1002;
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
}

.doc-viewer-backdrop {
    z-index: 1002;
    position: relative;
    height: 720px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
}

.doc-viewer-backdrop img {
    width: 500px;
    height: auto;
    margin: 40px;
}

.laser {
    position: absolute;
    top: -14px;
    width: 100%;
    height: 5%;
    display: flex;
    opacity: 65%;
    background-color: rgba(202, 86, 196, 1); /* Adjust the rgba values for your color and opacity */
    box-shadow: 0 0 200px rgba(202, 86, 196, 1);
    filter: blur(15px); /* Adjust the blur radius as needed */
}

.laser-overlay {
    position: absolute;
    top: -12px;
    width: 100%;
    height: 2%;
    display: flex;
    opacity: 65%;
    background-color: rgb(255, 255, 255); /* Adjust the rgba values for your color and opacity */
    box-shadow: 0 0 10px rgb(255, 255, 255);
    filter: blur(5px); /* Adjust the blur radius as needed */
    mix-blend-mode: screen;
}

.doc-viewer object {
    z-index: 1002;
    position: relative;
    height: 720px;
    width: 100%;
}

/* Contact Page */

.backdrop5 {
    background-color: #1A1A1A;
    width: 100%;
    height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.outer-container-2 {
    display: flex;
    z-index: 101;
    justify-content: center;
    align-items: center;
}

.outer-container-2 img {
    width: 376px;
    height: 376px;
    margin-top: 30px;
}
 
form {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 30px;
}

form input, form textarea {
    width: 98%;
    font-family: 'CenturyGothic';
    font-size: 1rem;
    margin: 1px;
}

form button {
    margin: 18px 0px 18px 0px;
}

.moon {
    position: absolute;
    top: 10px;
    z-index: 999;
    transform-origin: 50% 50%;
    animation: float-animation 2s ease 0s infinite normal both running;
}

.landscape {
    position: relative;
    z-index: 1000;
}
