/* SETUP */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    background-color: #1A1A1A;
}

h1 {
    font-family: 'Thunderstorm';
    font-size: 7rem;
    color: white;
    margin-block-start: 0.2em;
    margin-block-end: -0.20000000000000073em;
    user-select: none;
}

p {
    font-family: 'CenturyGothic';
    font-size: 1.5rem;
    color: white;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes fadeInMoveDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInMoveLeft {
    0% {
        transform: scale(1) rotate(-90deg) translate(0px, 112px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px) rotate(-90deg);
        opacity: 1;
    }
}

@keyframes fadeInMoveRight {
    0% {
        transform: scale(1) rotate(90deg) translate(0px, 112px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px) rotate(90deg);
        opacity: 1;
    }
}

@font-face {
    font-family: 'Thunderstorm';
    src: url('/homebase/assets/fonts/Thunderstorm-Update.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    }

@font-face {
    font-family: 'CenturyGothic';
    src: url('/homebase/assets/fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Arkanoid';
    src: url('/homebase/assets/fonts/ArkanoidSolid-pgPv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    .animate-in-0 {
        animation: fadeInMoveDown 0.5s ease forwards;
    }
    
    .animate-in-1 {
        animation: fadeInMoveDown 1s ease forwards;
    }
    
    .animate-in-1-5 {
        animation: fadeInMoveDown 1.5s ease forwards;
    }
    
    .animate-in-2 {
        animation: fadeInMoveDown 2s ease forwards;
    }

    @keyframes rotate-in-down-right-animation {
        0% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 0;
        }
    
        100% {
            transform: translate(0px, 0px) rotate(24.53deg);
            opacity: 1;
        }
    }

    @keyframes rotate-in-down-left-animation {

        0%,
        0.2% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 0;
        }
    
        100% {
            transform: scale(1) rotate(-24.53deg) translate(0px, 0px);
            opacity: 1;
        }
    }

    @keyframes float-animation {

        0%,
        100% {
            transform: none;
        }
    
        50% {
            transform: translate(0px, -16px);
        }
    }

    @keyframes trace-animation {

        0%
        {
            scale: 0%;
        }
    
        100% {
            scale: 100%;
        }
    }

    button {
        margin: -10px 0px;
    }

    .custom-btn {
        width: 100%;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'CenturyGothic', sans-serif;
        font-weight: bold;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
         box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
      }

    .btn-main {
        background: #0B0F09;
        border: none;
        z-index: 1;
    }
    .btn-main:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #e6c9fd;
        background-image: linear-gradient(315deg, #e6c9fd 0%, #f49cfc 74%);
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
        transition: all 0.3s ease;
    }
    .btn-main:hover {
        color: #000;
    }
    .btn-main:hover:after {
        top: auto;
        bottom: 0;
        height: 100%;
    }
    .btn-main:active {
        top: 2px;
    }

    .sticky {
        position: -webkit-sticky; /* For Safari */
        position: sticky;
        padding-top: 250px;
    }

    .relative {
        position: relative;
    }


/* CLASSES */

.logo {
    width: 300px;
    margin: 10px;
}

.social-media-icon {
    width: 40px;
    margin: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
    flex: 2;
    margin-right: 10px;
}

.top-bar {
    position: fixed;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #1a1a1a;
    width: 100%;
    z-index: 1010;
    transition: background-color 0.3s ease; /* Smooth transition for background-color */
}

.top-bar p {
    margin: 10px;
}

.backdrop {
    background-color: #1A1A1A;
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.backdrop2 {
    background-color: #1A1A1A;
    width: 100%;
    height: 4090px;
    display: block;
}

.backdrop3 {
    background-color: #1A1A1A;
    width: 100%;
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-container {
    width: 100%;
    height: 100%; /* Adjust height as needed */
    position: relative; /* Changed to relative */
    overflow: hidden;
    top: 200px;
}

.grid-container2 {
    width: 100%;
    height: 25%;
    position: relative; /* Changed to relative */
    overflow: hidden;
    top: -395px;
}

.grid {
    width: 5782px;
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid2 {
    width: 2890px; /* Width of the grid */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg) ; /* Centers the grid */
}


.palm {
    width: 500px;
    position: absolute;
}

.palm-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 50px;
}

.monstera-container {
    position: absolute;
    width: 100%;
    height: 870px;
    overflow: hidden;
}

.monstera {
    position: absolute;
    width: 635px;
    right: -33px;
    top: 195px;
}

#left-palm {
    left: -330px;
    top: 50px;
    transform-origin: 100% 100%;
    animation: rotate-in-down-right-animation 1s ease 0s 1 normal both running;
}

#right-palm {
    right: -330px;
    top: 50px;
    transform-origin: 0% 100%;
    animation: rotate-in-down-left-animation 1s ease 0s 1 normal both running;
}

.glowbox {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    opacity: 25%;
    background-color: rgba(86, 116, 202, 0.25); /* Adjust the rgba values for your color and opacity */
    box-shadow: 0 0 500px rgba(86, 116, 202, 0.25);
    filter: blur(50px); /* Adjust the blur radius as needed */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.glowbox2 {
    position: absolute;
    width: 90%;
    height: 4500px;
    display: flex;
    opacity: 25%;
    background-color: rgba(202, 86, 187, 0.25); /* Adjust the rgba values for your color and opacity */
    box-shadow: 0 0 500px rgba(202, 86, 187, 0.25);
    filter: blur(50px); /* Adjust the blur radius as needed */
    top: 3000px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-container {
    width: 491px;
    position: relative;
    margin: 30px;
}

.outer-container {
    display: flex;
    z-index: 101;
    top:  250px;
    justify-content: center;
    align-items: center;
}

.outer-container2 {
    display: flex;
    z-index: 101;
    top:  14px;
    justify-content: center;
    align-items: center;
}

.outer-container3 {
    display: flex;
    z-index: 101;
    top: 200px;
    justify-content: center;
    align-items: center;
}

.outer-container img {
    width: 276px;
    height: 276px;
    margin: 30px;
}

.outer-container2 img {
    width: 276px;
    height: 276px;
    margin: 30px;
}

.outer-container3 img {
    width: 276px;
    height: 276px;
    margin: 30px;
}

.footer {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #1A1A1A;
    position: absolute;
    width: 100%;
    z-index: 1002;
}

.footer p {
    margin: 20px;
}

/* Books Page */

.backdrop4 {
    background-color: #1A1A1A;
    width: 100%;
    height: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.matrix-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 1420px;
    top: 50px;
}

.matrix {
    width: 4400px;
    position: absolute;
}

#left-matrix {
    left: -1979px;
    top: 50px;
    animation: fadeInMoveRight 1s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal both running;
}

#right-matrix {
    right: -1979px;
    top: 50px;
    animation: fadeInMoveLeft 1s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal both running;
}

.bookshelf-container {
    width: 100%;
    height: 565px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -243px;
}

.bookshelf-container h1 {
    margin: 20px;
    z-index: 100;
}

.book-box {
    display: flex;
}

.book-box img {
    width: 250px;
    height: auto;
    margin: 20px;
    z-index: 1002;
    transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.book-box img:hover {
    transform: scale(1.1); /* Slightly increase the size */
}

.book-box img.shrink {
    transform: scale(0.9); /* Shrink to 90% of the original size */
}

.doc-viewer {
    z-index: 1002;
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
}

.doc-viewer-backdrop {
    z-index: 1002;
    position: relative;
    height: 720px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
}

.doc-viewer-backdrop img {
    width: 500px;
    height: auto;
    margin: 40px;
}

.laser {
    position: absolute;
    top: -14px;
    width: 100%;
    height: 5%;
    display: flex;
    opacity: 65%;
    background-color: rgba(202, 86, 196, 1); /* Adjust the rgba values for your color and opacity */
    box-shadow: 0 0 200px rgba(202, 86, 196, 1);
    filter: blur(15px); /* Adjust the blur radius as needed */
}

.laser-overlay {
    position: absolute;
    top: -12px;
    width: 100%;
    height: 2%;
    display: flex;
    opacity: 65%;
    background-color: rgb(255, 255, 255); /* Adjust the rgba values for your color and opacity */
    box-shadow: 0 0 10px rgb(255, 255, 255);
    filter: blur(5px); /* Adjust the blur radius as needed */
    mix-blend-mode: screen;
}

.doc-viewer object {
    z-index: 1002;
    position: relative;
    height: 720px;
    width: 100%;
}

/* Contact Page */

.backdrop5 {
    background-color: #1A1A1A;
    width: 100%;
    height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.outer-container-2 {
    display: flex;
    z-index: 101;
    justify-content: center;
    align-items: center;
}

.outer-container-2 img {
    width: 376px;
    height: 376px;
    margin-top: 30px;
}
 
form {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 30px;
}

form input, form textarea {
    width: 98%;
    font-family: 'CenturyGothic';
    font-size: 1rem;
    margin: 1px;
}

form button {
    margin: 18px 0px 18px 0px;
}

.moon {
    position: absolute;
    top: 10px;
    z-index: 999;
    transform-origin: 50% 50%;
    animation: float-animation 2s ease 0s infinite normal both running;
}

.landscape {
    position: absolute;
    z-index: 1000;
}

/* Breakpoints */

.hamburger-menu-list {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #263c7e;
    z-index: 1005;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: top 0.5s; /* Smooth sliding effect */
    top: -100vh;
}

.hamburger-menu-list a p {
    font-size: 2rem;
    margin: 20px;
}

.hamburger-menu-list a .social-media-icon {
    width: 54px;
}

.hamburger-menu-list .social-media-collection {
    width: 200px;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
}

.hamburger-menu-list.menu-open {
    top: 0; /* Slide in to be fully visible */
  }

.hamburger-menu {
    display: none;
}

#rotating-image {
    transition: transform 0.5s ease;
  }
  
  .rotated {
    transform: rotate(90deg);
  }

  #rotating-image.rotated {
    transform: rotate(90deg);
  }

  .social-media-collection {
    width: 125px;
  }

  .epcot {
    width: 376px;
    height: 376px;
  }

@media screen and (max-width: 938px) {
    .button-container {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        align-items: center;
        justify-content: end;
        text-align: right;
        flex: 2;
        margin-right: 10px;
    }

    .hamburger-menu img {
        width: 50px;
        margin: 15px;
    }

    .header-container {
        width: 330px;
    }

    .outer-container img {
        width: 210px;
        height: auto;
    }

    .outer-container2 {
        top: 0vh;
    }

    .palm {
        width: 268px;
    }

    #left-palm {
        left: -190px;
    }

    .grid-container {
        top: 110px;
    }

    #right-palm {
        right: -190px;
    }

    #gifCanvas {
        height: 240px;
        width: 240px;
    }

    .backdrop3 {
        height: 824px;
    }

    .monstera {
        width: 370px;
        top: 367px;
    }

    h1 {
        font-size: 4.5rem;
    }

    p {
        font-size: 1rem;
    }

    #right-matrix {
        right: -2218px;
    }

    #left-matrix {
        left: -2218px;
    }

    .book-box img {
        width: 165px;
    }

    .doc-viewer-backdrop img {
        width: 312px;
    }

    .epcot {
        width: 234px;
        height: 234px;
      }
    
      .landscape {
        position: absolute;
      }
}

@media screen and (max-width: 620px) {
    .outer-container {
        flex-direction: column;
        top: 203px;
    }

    .outer-container2 {
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sticky {
        padding-top: 0px;
    }

    .outer-container img {
        margin: 0px;
    }

    .header-container {
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .outer-container2 .header-container {
        margin: -10px;
    }

    .grid {
        width: 4187px;
    }

    .grid-container {
        top: -18px;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 0.9rem;
    }

    #right-matrix {
        right: -2300px;
    }

    #left-matrix {
        left: -2300px;
    }

    .book-box {
        flex-direction: column;
    }

    .bookshelf-container {
        height: auto;
        margin-top: -397px;
    }

    .doc-viewer-backdrop {
        flex-direction: column;
    }

    .doc-viewer-backdrop img {
        margin: -20px;
    }

    .outer-container-2 {
        flex-direction: column;
    }

    .outer-container-2 img {
        width: 191px;
        height: auto;
        margin-top: 66px;
    }

    .custom-btn {
        width: 270px;
    }

    form {
        width: 270px;
    }

    .grid2 {
        width: 1700px;
    }

    .grid-container2 {
        top: -250px;
    }

    .epcot {
        width: 228px;
        height: 150px;
    }

}

@media screen and (max-width: 420px) {
    .logo {
        width: 200px;
    }

    .grid {
        width: 2500px;
        top: 130px;
    }

    .grid-container {
        top: -39px;
    }
}

/* Blog */

.spacer {
    height: 70px;
}

.blogheader {
    height: 215px;
    width: 99.9%;
    border: white solid 1px;
    background-color: #1a1a1a;
    overflow: hidden;
    position: relative;
    z-index: -5;
}

.header-box {
    margin-left: 20px;
    margin-top: 30px;
}

.pre-header {
    color: #d529ce;
    font-family: 'Thunderstorm';
    font-size: 4rem;
    margin-block-start: 0.2em;
    margin-block-end: -0.20000000000000073em;
    user-select: none;
    z-index: 5;
}

.post-header {
    font-family: 'Arkanoid';
    font-size: 5.5rem;
    color: white;
    margin-block-start: 0.2em;
    margin-block-end: -0.20000000000000073em;
    margin-top: -1px;
    user-select: none;
    z-index: 5;
}

.memphis-square {
    height: 400px;
    width: 400px;
    rotate: 45deg;
    border: #d529ce solid 1rem;
    animation: trace-animation 0.5s ease forwards;
    position: absolute;
    z-index: 5;
}

#sR {
    right: -112px;
    margin-top: -262px;
}

#sL {
    left: -112px;
    margin-top: -100px;
}

.blogheader .grid-container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
    z-index: -1;
}

.blogheader .grid-container .grid {
    width: 3895px;
    top: 305px;
}

.article-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.article-indice {
    border: white solid 1px;
    padding: 10px;
    margin: 40px;
    height: fit-content;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease;
}

.article-indice:hover, .article-indice:active {
    scale: 105%;
}

.a-i-img {
    height: 250px;
    width: 272px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.a-i-img img {
    height: 100%;
}

.a-i-header {
    font-family: 'CenturyGothic';
    font-size: 1.5rem;
    color: white;
    user-select: none;
    margin-block-start: 1em;
    margin-block-end: -0.5em;
}

@media screen and (max-width: 938px) {
    #sR {
        display: none;
    }
}

/* Post */

.postheader {
    height: 560px;
    width: 99.9%;
    border: white solid 1px;
    background-color: #1a1a1a;
    overflow: hidden;
    position: relative;
    z-index: -5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallaxContainer {
    position: relative;
    overflow: hidden;
}

.parallaxTarget {
    position: absolute;
    width: 100%;
}

.postcontainer {
    margin: 0 auto;
    width: 70%;
    position: relative;
}

.postcontainer h1 {
    font-family: 'CenturyGothic';
    font-size: 4rem;
    color: white;
    user-select: text;
}

.postcontainer h2 {
    font-family: 'CenturyGothic';
    font-size: 2rem;
    color: white;
    user-select: text;
    margin-block-end: 0;
}

.postcontainer p {
    font-family: 'CenturyGothic';
    font-size: 1.2rem;
    color: white;
    user-select: text;
    margin-block-start: 0;
}

.postcontainer span {
    font-family: 'CenturyGothic';
    font-size: 2rem;
    color: #d529ce;
    user-select: text;
    margin-block-start: 0;
}

.spancontainer {
    rotate: 270deg;
    position: absolute;
    left: -125px;
    top: 81px;
}

.contentcontainer {
    position: relative;
    overflow: hidden;
}

.contentcontainer .glowbox{
    top: -10px;
}

@media screen and (max-width: 938px) {
    .parallaxTarget {
        width: 250%;
    }

    .postcontainer h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 450px) {
    .parallaxTarget {
        width: 400%;
    }

    .postcontainer h1 {
        font-size: 2rem;
    }

    .postheader {
        height: 380px;
    }
}